In [ ]:
# Install a pip comtradeapicall package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install --upgrade comtradeapicall

In [ ]:
# Install a pip pandas package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install pandas

In [3]:
import pandas
import requests
import comtradeapicall

In [1]:
subscription_key = '<YOUR KEY>' # comtrade api subscription key (from comtradedeveloper.un.org)
directory = '<OUTPUT DIR>'  # output directory for downloaded files

In [6]:
# Call preview final data API to a data frame, max to 500 records, no subscription key required
# This example: Australia imports of commodity code 91 in classic mode in May 2022

In [7]:
mydf = comtradeapicall.previewFinalData(typeCode='C', freqCode='M', clCode='HS', period='202205',
                                        reporterCode='36', cmdCode='91', flowCode='M', partnerCode=None,
                                        partner2Code=None,
                                        customsCode=None, motCode=None, maxRecords=500, format_output='JSON',
                                        aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)

In [8]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,6.735023e+07,6.642208e+07,6.735023e+07,0,False,True
1,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,8.208810e+02,7.800080e+02,8.208810e+02,0,False,True
2,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,2.605931e+05,2.599554e+05,2.605931e+05,0,False,True
3,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,2.668635e+04,2.544649e+04,2.668635e+04,4,False,True
4,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,7.410397e+03,7.027445e+03,7.410397e+03,0,False,True

In [9]:
# Call preview tariffline data API to a data frame, max to 500 records, no subscription key required
# This example: Australia imports of commodity code started with 90 and 91 from Indonesia in May 2022

In [10]:
mydf = comtradeapicall.previewTarifflineData(typeCode='C', freqCode='M', clCode='HS', period='202205',
                                             reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=36,
                                             partner2Code=None,
                                             customsCode=None, motCode=None, maxRecords=500, format_output='JSON',
                                             countOnly=None, includeDesc=True)

In [11]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,period,reporterCode,reporterDesc,reporterISO,flowCode,flowDesc,partnerCode,...,qtyUnitAbbr,qty,altQtyUnitCode,altQtyUnitAbbr,altQty,netWgt,grossWgt,cifvalue,fobvalue,primaryValue
0,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,24.0,2643.138964,2452.269532,2643.138964
1,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,0.0,1378.122996,1345.429924,1378.122996
2,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,7.7,7291.986612,6990.838004,7291.986612
3,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,3.8,3318.812240,3151.313136,3318.812240
4,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,128.8,7020.139064,4936.400000,7020.139064

In [12]:
# Call get final data API to a data frame, max to 250K records, subscription key required
# This example: Australia imports of commodity codes 90 and 91 from all partners in classic mode in May 2022

In [13]:
mydf = comtradeapicall.getFinalData(subscription_key, typeCode='C', freqCode='M', clCode='HS', period='202205',
                                    reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=None,
                                    partner2Code=None,
                                    customsCode=None, motCode=None, maxRecords=2500, format_output='JSON',
                                    aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)

In [14]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,3.024066e+05,2.547313e+05,3.024066e+05,0,False,True
1,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,8.900632e+03,8.692718e+03,8.900632e+03,4,False,True
2,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,2.913730e+07,2.712739e+07,2.913730e+07,4,False,True
3,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,1.091258e+07,1.015719e+07,1.091258e+07,4,False,True
4,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,1.601507e+04,1.571131e+04,1.601507e+04,4,False,True

In [15]:
# Call get tariffline data API to a data frame, max to 250K records, subscription key required
# This example: Australia imports of commodity code started with 90 and 91 from Indonesia in May 2022

In [16]:
mydf = comtradeapicall.getTarifflineData(subscription_key, typeCode='C', freqCode='M', clCode='HS', period='202205',
                                         reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=36,
                                         partner2Code=None,
                                         customsCode=None, motCode=None, maxRecords=2500, format_output='JSON',
                                         countOnly=None, includeDesc=True)

In [17]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,period,reporterCode,reporterDesc,reporterISO,flowCode,flowDesc,partnerCode,...,qtyUnitAbbr,qty,altQtyUnitCode,altQtyUnitAbbr,altQty,netWgt,grossWgt,cifvalue,fobvalue,primaryValue
0,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,24.0,2643.138964,2452.269532,2643.138964
1,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,0.0,1378.122996,1345.429924,1378.122996
2,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,7.7,7291.986612,6990.838004,7291.986612
3,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,3.8,3318.812240,3151.313136,3318.812240
4,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,128.8,7020.139064,4936.400000,7020.139064

In [18]:
# Call bulk download final file(s) API to output dir, (premium) subscription key required
# This example: Download monthly France final data of Jan-2000

In [19]:
comtradeapicall.bulkDownloadFinalFile(subscription_key, directory, typeCode='C', freqCode='M', clCode='HS',
                                      period='200001', reporterCode=251, decompress=True)

COMTRADE-FINAL-CM251200001H1[2022-09-04] downloaded
Total of 1 file(s) downloaded

In [20]:
# Call bulk download tariff data file(s) to output dir, (premium) subscription key required
# This example: Download monthly France tariffline data of Jan-2000

In [21]:
comtradeapicall.bulkDownloadTarifflineFile(subscription_key, directory, typeCode='C', freqCode='M', clCode='HS',
                                           period='200001,200002,200003', reporterCode=504, decompress=True)

COMTRADE-TARIFFLINE-CM504200003H1[2023-01-03] downloaded
COMTRADE-TARIFFLINE-CM504200001H1[2022-12-09] downloaded
COMTRADE-TARIFFLINE-CM504200002H1[2023-01-03] downloaded
Total of 3 file(s) downloaded

In [22]:
# Call bulk download tariff data file(s) to output dir, (premium) subscription key required
# This example: Download annual Morocco  data of 2010

In [23]:
comtradeapicall.bulkDownloadTarifflineFile(subscription_key, directory, typeCode='C', freqCode='A', clCode='HS',
                                           period='2010', reporterCode=504, decompress=True)

COMTRADE-TARIFFLINE-CA5042010H2[2021-12-09] downloaded
Total of 1 file(s) downloaded

In [2]:
# Call data availability for annual HS in 2021

In [8]:
mydf = comtradeapicall.getFinalDataAvailability(subscription_key, typeCode='C', freqCode='A', clCode='HS',
                                                period='2021', reporterCode=None)
mydf.head(5)

,datasetCode,typeCode,freqCode,period,reporterCode,reporterISO,reporterDesc,classificationCode,classificationSearchCode,isOriginalClassification,isExtendedFlowCode,isExtendedPartnerCode,isExtendedPartner2Code,isExtendedCmdCode,isExtendedCustomsCode,isExtendedMotCode,totalRecords,datasetChecksum,firstReleased,lastReleased
0,20024202101182100,C,A,2021,24,AGO,Angola,H5,HS,True,False,True,False,True,False,False,112758,-1349955130,2022-10-06T10:53:32.8266667,2022-10-06T10:53:32.8266667
1,20031202101182100,C,A,2021,31,AZE,Azerbaijan,H5,HS,True,True,True,True,True,True,True,1631459,1375342973,2022-03-29T22:50:18.8066667,2022-05-03T19:12:39.8333333
2,20032202101182100,C,A,2021,32,ARG,Argentina,H5,HS,True,True,True,True,True,False,False,416716,-1541907476,2022-06-14T19:12:34.7433333,2022-06-14T19:12:34.7433333
3,20036202101182100,C,A,2021,36,AUS,Australia,H5,HS,True,True,True,False,True,False,True,644604,-1567412700,2022-03-30T01:44:28.7033333,2022-03-30T01:44:28.7033333
4,20040202101182100,C,A,2021,40,AUT,Austria,H5,HS,True,False,True,False,True,False,False,440139,-1077957935,2022-05-27T04:12:54.5,2022-05-27T04:12:54.5

In [9]:
# Call tariffline data availability for monthly HS in Jun-2022

In [10]:
mydf = comtradeapicall.getTarifflineDataAvailability(subscription_key, typeCode='C', freqCode='M', clCode='HS',
                                                     period='202206', reporterCode=None)
mydf.head(5)

,datasetCode,typeCode,freqCode,period,reporterCode,reporterISO,classificationCode,isOriginalClassification,isExtendedFlowCode,isExtendedPartnerCode,isExtendedPartner2Code,isExtendedCmdCode,isExtendedCustomsCode,isExtendedMotCode,totalRecords,datasetChecksum,lengthCmdCode,firstReleased,lastReleased
0,30031202206202100,C,M,202206,31,AZE,H6,True,False,True,True,True,True,True,19183,-1838571256,6,2022-11-30T20:27:51.62,2022-11-30T20:27:51.62
1,30032202206182100,C,M,202206,32,ARG,H5,True,False,True,True,True,False,False,61039,1200220404,8,2022-09-29T18:08:32.9033333,2022-09-29T18:08:32.9033333
2,30036202206202100,C,M,202206,36,AUS,H6,True,False,True,False,True,False,True,268223,-1343158038,6,2022-08-22T00:14:58.7233333,2022-12-09T02:21:57.7033333
3,30051202206202100,C,M,202206,51,ARM,H6,True,True,True,True,True,False,True,44956,1878972458,10,2022-08-27T01:31:00.2566667,2022-09-21T05:12:06.67
4,30052202206182100,C,M,202206,52,BRB,H5,True,True,True,False,True,False,False,9961,-295889979,11,2022-08-23T18:30:05.99,2022-08-23T18:30:05.99

In [8]:
# Call bulk download tariff data file(s) to output dir, (premium) subscription key required
# This example: Download HS annual data released since  yesterday

In [9]:
from datetime import date
from datetime import timedelta
yesterday = date.today() - timedelta(days=1)
comtradeapicall.bulkDownloadFinalFileDateRange(subscription_key, directory, typeCode='C', freqCode='A',
                                               clCode='HS',
                                               period=None, reporterCode=None, decompress=False,
                                               publishedDateFrom=yesterday, publishedDateTo=None)

No data available based on the selection criteria

In [ ]:
# Call bulk download tariff data file(s) to output dir, (premium) subscription key required
# This example: Download HS monthly tariffline data released since  yesterday

In [10]:
comtradeapicall.bulkDownloadTarifflineFileDateRange(subscription_key, directory, typeCode='C', freqCode='M',
                                                    clCode='HS', period=None, reporterCode=None, decompress=False,
                                                    publishedDateFrom=yesterday, publishedDateTo=None)

COMTRADE-TARIFFLINE-CM100202202H6[2023-01-13] downloaded
COMTRADE-TARIFFLINE-CM100202205H6[2023-01-13] downloaded
COMTRADE-TARIFFLINE-CM100202203H6[2023-01-13] downloaded
COMTRADE-TARIFFLINE-CM100202204H6[2023-01-12] downloaded
COMTRADE-TARIFFLINE-CM703202210H6[2023-01-13] downloaded
COMTRADE-TARIFFLINE-CM705202201H6[2023-01-14] downloaded
COMTRADE-TARIFFLINE-CM705202203H6[2023-01-14] downloaded
COMTRADE-TARIFFLINE-CM705202205H6[2023-01-14] downloaded
COMTRADE-TARIFFLINE-CM705202202H6[2023-01-14] downloaded
COMTRADE-TARIFFLINE-CM710202211H6[2023-01-13] downloaded
COMTRADE-TARIFFLINE-CM710202210H6[2023-01-13] downloaded
COMTRADE-TARIFFLINE-CM757202211H6[2023-01-13] downloaded
Total of 12 file(s) downloaded